body{
  background-color: #cccccc;
}
#header-nav{
  background-color: #8FBC8F;



 }
.navbar-brand {
  
  height: 80px;
  padding-top: 25px;

}
.navbar-brand h1 { /* Restaurant name */
font-family: "Comic Sans MS", cursive, sans-serif;font-size:20px;
  color:#2F4F4F;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50%;
}
div>h1{
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin:  30px;

}
.sec-box{
  width: 100%;
  padding: 10px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;

}
span>h2{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: bold;
}
.para{
  font-size: 1.5em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#nav-list a{
   font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5em;
  color: #000;

}

/********** Large devices only **********/
@media (min-width: 1200px) {
  

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 




}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  .container>h1{
        font-size:6vw; 
  }

#nav-list a{

   font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 5vw;
  color: #000;}
  span>h2{
    font-size: 5vw;
  }
  .para{
    font-size: 4vw;

  }
  #collapsable-nav {
background-color:#B8860B;
text-align: center;
border-radius: 3vw;
}

  

 
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: auto;
    font-size: 6vw;
    height: 70%;
    

  }
  #collapsable-nav {
background-color:#B8860B;
text-align: center;
border-radius: 3vw;
}

